* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.title {
  text-align: left;
  font-size: 3rem;
  margin: 45px;
}

.body {
  display: flex;
  gap: 10%;
  width: 80%;
  align-self: center;
  justify-self: center;
}*
body {
  padding-top: 80px;
  background:
    radial-gradient(
      ellipse at center,
      rgba(127, 0, 173, 0.6) 0%,
      rgba(0, 0, 0, 0.8) 60%,
      rgba(0, 0, 0, 1) 90%
    ),
    url(https://images.unsplash.com/photo-1583309219338-a582f1f9ca6b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1186&q=80);
  z-index: -5;
  color: white;
  overflow: hidden;
  font-family: "Monoton", monospace;
}


.scores-refreshBtn {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  width: 45%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  padding: 10px;
}

.score-heading-refreshBtn {
  display: flex;
  justify-content: space-between;
}

.container {
  border: 3px black solid;
  height: 35vh;
}

.input-title {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  width: 45%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  padding: 10px;
}

.input-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.submit-score {
  display: flex;
  align-self: flex-end;
  width: 67px;
}

button {
  padding: 10px;
  text-align: center;
  border-radius: 25px;
}

input {
  height: 50px;
  border: none;
  border-bottom: 2px black solid;
  padding: 5px;
  opacity: 50%;
  background-color: powderblue;
  color: black;
  font-size: large;
}
