* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.title {
  text-align: left;
  font-size: 3rem;
  margin: 45px;
}

.body {
  display: flex;
  gap: 10%;
  width: 80%;
  align-self: center;
  justify-self: center;
}

.scores-refreshBtn {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  width: 45%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  padding: 10px;
}

.score-heading-refreshBtn {
  display: flex;
  justify-content: space-between;
}

.container {
  border: 3px black solid;
  height: 35vh;
}

.input-title {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  width: 45%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  padding: 10px;
}

.input-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.submit-score {
  display: flex;
  align-self: flex-end;
  width: 67px;
}

input {
  height: 50px;
  border: none;
  border-bottom: 2px black solid;
  padding: 5px;
  opacity: 50%;
  background-color: powderblue;
  color: #fff;
  font-size: large;
}

button {
  padding: 10px;
  text-align: center;
  border-radius: 25px;
}
